@media (min-width: 576px) {
  .container-sm {
    padding-left: 20vw !important;
    padding-right: 20vw !important;
    outline: 3px solid var(--mui-palette-primary-main) !important;
    background-color: var(--mui-palette-surface-tertiary);
  }
}

.btn-primary:hover {
  background-color: var(--mui-palette-primary-light) !important;
}
