__pycache__/
*.pyc
*.pyo
*.pyd
.env
*Secrets.env
*secrets.env
.venv
.poetry/
.cache/.env
venv
.vscode
.DS_Store
/node_modules
**/Production\ Dataset/
**/Sample\ Dataset/

!template.env
!modeSecretsTemplate.env