__pycache__/
*.pyc
*.pyo
*.pyd
.env
*Secrets.env
*secrets.env
.venv
.poetry/
.cache/.env
venv
.vscode
.DS_Store
/node_modules
*/DataPopulator/data
UnitTestResults.txt
UnitTestOutputs.txt

!template.env
!modeSecretsTemplate.env

test3.py