body {
  font-family: sans-serif;
  color: #222;
  background: #f8f8f8;
  margin: 5rem 20rem;
}
h1 {
  text-align: center;
  margin-bottom: 2.5rem;
}
form {
  text-align: center;
  margin-bottom: 2.5rem;
  justify-content: center;
}
button {
  background-color: #5dc18d;
  border: none;
  color: #f8f8f8;
  padding: 10px 24px;
  border-radius: 3px;
  transition: background-color 0.2s ease;
  font-size: 1rem;
}
button:hover {
  background-color: #4fa478;
}
input {
  padding: 10px 24px;
  border-radius: 3px;
  font-size: 1rem;
  border: 1, solid #222;
  outline: none;
  box-sizing: border-box;
}
table {
  width: 100%;
  border-color: #5dc18d;
  background-color: #f8f8f8;
  font-size: 1rem;
}
thead {
  background-color: #5dc18d;
  color: #f8f8f8;
}
table th:first-child {
  border-radius: 3px 0 0 3px;
}

table th:last-child {
  border-radius:0 3px 3px 0;
}
th, td {
  padding: 10px 12px;
  text-align: center;
  border-bottom: 1px solid #f5f5f5;
}

.input_field {
  border: 1px solid black;
}