<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8">
        <title>View</title>
        <link rel="stylesheet" href="{{ url_for('static', filename='view.css') }}">
    </head>
    <body>
        <h1>View</h1>
        <form method="get" style="flex-direction: row; margin-bottom: 1rem;">
            <div class="input_field">
              <div>Room Name</div>
              <input type="text" name="room_name" placeholder="No filter"></input>
              <div>Min Capacity</div>
              <input type="number" name="min_capacity" placeholder="No filter"></input>
              <div>Max Capacity</div>
              <input type="number" name="max_capacity" placeholder="No filter"></input>
            </div>
            <button name="db_operation" value="filter">Filter</button>
        </form>
        <table>
            <thead>
                <tr>
                    <th>Building</th>
                    <th>Room</th>
                    <th>Bookings</th>
                    <th>Address</th>
                    <th>City</th>
                    <th>Province</th>
                    <th>Country</th>
                    <th>Postal Code</th>
                </tr>
            </thead>
            <tbody>
                {% if response %}
                    {% for item in response %}
                    <tr>
                        <td>{{ item[0] }}</td>
                        <td>{{ item[1] }}</td>
                        <td>{{ item[2] }} / {{ item[3] }}</td>
                        <td>{{ item[4] }}</td>
                        <td>{{ item[5] }}</td>
                        <td>{{ item[6] }}</td>
                        <td>{{ item[7] }}</td>
                        <td>{{ item[8] }}</td>
                        <td>{{ item[9] }}</td>
                    </tr>
                    {% endfor %}
                {% endif %}
            </tbody>
        </table>
    </body>
</html>
